<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <div class="container">
        {% block header %}{% endblock %}

        {% block sidebar %}

        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Trip Planning</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="plan">Plan Trip</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Request A Proposal</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Account</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="signin/">Sign In</a>
                        <a class="dropdown-item" id="CreateAccount" href="#">Create Account</a>
                    </div>
                </li>
            </ul>

            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Traveler or Institute?</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <a href="traveler-account/">Traveler</a>
                            <a href="institute-account">Institute</a>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
        {% endblock %}

        {% block content %}

        {% endblock %}

    <script src={% static 'js/jquery.min.js' %}></script>
    <script src={% static 'js/popper.min.js' %}></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script>
        $("document").ready(function(){
            $("#CreateAccount").click(function(){
                $('#exampleModal').modal('show')
            });
        });
    </script>
    </div>
</body>
</html>
