<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edu Travels!</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}">
</head>
<body>
    <div class="container">
        <h1>Welcome to Edu Travels!</h1>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="#">Plan a Trip</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Create an account</a>
                </li>
            </ul>
        </nav>
    </div>
</body>
</html>
