{% extends "base_trip.html" %}

{% block title %}Trip Planning{% endblock %}
{% block header %}{% endblock %}

{% block content %}
{% block country %}

<form method="get" action="plan/state-by-country">
 <!-- {% csrf_token %} -->
 {% for country in countries %}
 <input type="radio" name="choice" id="{{ country.name }}" value="{{ country.id }}">
 <label for="{{ country.name }}">{{ country.name }}</label><br>
{% endfor %}
<input type='submit' value="Select Country">
</form>
{% endblock %}
{% endblock %}

